/* Estilo para o fundo da página */
body {
  background-color: #0fc50c; /* Cor de fundo vermelha da Lojas Quero-Quero */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilo para o título centralizado */
h1 {
  text-align: center;
  color: #fff; /* Cor do texto branca */
  padding: 20px 0; /* Espaçamento superior e inferior */
}

/* Estilo para a navegação */
nav {
  background-color: #0a9221; /* Cor de fundo para a barra de navegação */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Centralizar os itens horizontalmente */
}

li {
  margin: 0 2px;
  padding: 12px;
  border: solid;
}

li a {
  text-decoration: none;
  color: #fff; /* Cor do texto dos links */
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

li a:hover {
  background-color: #555; /* Cor de fundo quando o mouse passa por cima */
}
