body {
  background-color: darkgreen;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

h1 {
  justify-content: center;
  text-align: center;
}

/* Estilos para o elemento pai que centraliza horizontalmente */
.center-horizontally {
  display: flex;
  justify-content: center;
}

/* Estilos para os botões de download */
.download-button {
  padding: 15px 3px;
  font-size: 1.2rem;
  background-color: rgb(52, 118, 234);
  border-radius: 5px;
  cursor: pointer;
  margin: 4px;
}

/* Dashboard.css */

.dashboard {
  background-color: #f2f2f2; /* Fundo cinza claro */
  border-radius: 10px; /* Borda arredondada */
  padding: 20px; /* Espaçamento interno para o conteúdo */
  max-width: 800px; /* Largura máxima da div */
  margin: 0 auto; /* Centralizar horizontalmente */
  border: dashed;
}
