/* SelectRegionAndBranch.css */
.div {
        display: flex;
        justify-content: center;
}

label {
    text-size-adjust: 50px;
    font-size: larger;
}

/* Estilos para as caixas de seleção */
select {
    width: 25%; /* Defina a largura desejada para as caixas de seleção */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 5px; /* Margem entre as caixas de seleção */
    margin-bottom: 15px;
  }
  